<h1 class="{{title}}">hello angular {{title}}</h1>
<h2 class="heading">{{data}}</h2>
<h2>{{getValue()}}</h2>
<h2>{{2+2}}</h2>
<h2>{{title=="blog"}}</h2>
<app-user-list></app-user-list>
<app-student-list></app-student-list>
<app-country-list></app-country-list>
<!-- onclick function -->
<button (click)="getName('saurav','borah')">Click me</button>
<br>
<button (click)="getEmoji()">😂</button>
<br>
<button (click)="getData('hello')">Call function</button>
<br>
<br>
<!-- #box is the id
when the user presses and releases the key then this event is triggered -->
<input type="text" #box (keyup)="getData(box.value)" placeholder="event keyup">
<br>
<br>
<!-- tells AngularJS what to do when the keyboard is used on the specific HTML element. -->
<input type="text" #box1 (keydown)="getData(box1.value)" placeholder="event keydown">
<br>
<br>
<!-- when the focus is released then the event is triggered -->
<input type="text" #box2 (blur)="getData(box2.value)" placeholder="event blur">
<br>
<br>
<input type="text" #box3 (input)="getData(box3.value)" placeholder="event input">

<br>
<br>
<!-- on mouse over -->
<h1 (mouseover)="getData('saurav')">This is mouse over</h1>
<h1 (mouseleave)="getData('angular')">This is mouse leave</h1>
<br>
<br>
<!-- input text on click button -->
<input type="text" #username placeholder="Enter name" name="username" />
<button (click)="getUsername(username.value)">Submit</button>
<p>Username is :{{displayVal}}</p>
<br>
<br>
<button (click)="counter('minus')">--</button>
<p>Count: {{count}}</p>
<button (click)="counter('add')">++</button>
<br>
<br>
<style>
  .heading {
    color: blue;
  }

</style>
<app-login></app-login>
<br>
<br>
<!-- interpolation (only accepts string and numeric value)-->
<input type="text" name="user-name" value={{name}} disabled={{disable}}>
<br>
<br>
<!-- property binding (accepts string,numeric as well as boolean values)-->
<input type="text" name="user-name" [value]=name [disabled]=disable>
<br>
<br>
<!-- if else -->
<h1 *ngIf="show; then ifBlock else elseBlock"></h1>
<ng-template #ifBlock>
  <h1>If condition</h1>
</ng-template>
<ng-template #elseBlock>
  <h1>Else condition</h1>
</ng-template>
<!-- multiple condition -->
<br>
<br>
<ng-template [ngIf]="color==='red'">
  <h1 style="color: red;">Red Color</h1>
</ng-template>
<ng-template [ngIf]="color==='green'">
  <h1 style="color: green;">green Color</h1>
</ng-template>
<ng-template [ngIf]="color==='blue'">
  <h1 style="color: blue;">blue Color</h1>
</ng-template>
<br>
<br>
<!-- switch conditions -->
<div [ngSwitch]="rang">
  <h1 *ngSwitchCase="'green'" style="color: green;">Green Color</h1>
  <h1 *ngSwitchCase="'red'" style="color: red;">Red Color</h1>
  <h1 *ngSwitchCase="'blue'" style="color: blue;">Blue Color</h1>
  <h1 *ngSwitchDefault>Unknown Color</h1>
</div>
<br>
<br>
<!-- looping -->
<h3 *ngFor="let item of users">{{item}}</h3>
<br>
<br>
<h3 *ngFor="let item of userDetails">{{item.name}}----{{item.email}}----{{item.phone}}</h3>
<br>
<br>
<!-- nested looping -->
<ul *ngFor="let user of userDetails">
  <li>Name:- {{user.name}}</li>
  <li>Email:- {{user.email}}</li>
  <li>Phone:- {{user.phone}}</li>
  <li>Social Accounts:- </li>
  <ul *ngFor="let account of user.socialAccount">
    <li>{{account}}</li>
  </ul>
</ul>
<br>
<br>
<!-- style binding -->
<h1 [style.color]="'green'">Style Binding</h1>
<h2 [style.color]="color" [style.backgroundColor]="bgColor">Style Binding</h2>
<button (click)="updateColor()">Update color</button>
<!-- header component-->
<br>
<br>
<app-header></app-header>
<br>
<br>
<!-- forms -->
<form #basicForm="ngForm" (ngSubmit)="getInfo(basicForm.value)">
  <input type="text" ngModel name="user" placeholder="Enter User Name">
  <br>
  <br>
  <input type="email" ngModel name="email" placeholder="Enter User Email">
  <br>
  <br>
  <input type="password" ngModel name="password" placeholder="Enter User Password">
  <br>
  <br>
  <button>Register</button>
</form>
<ul>
  <li>{{userData.user}}</li>
  <li>{{userData.email}}</li>
  <li>{{userData.password}}</li>
</ul>
<br>
<br>

<!-- toggle element -->
<button (click)="toggle()">Toggle</button>
<div *ngIf="display">
  <h1>😂🤣😂🤣😆</h1>
</div>
<!-- bootstrap -->
<br>
<br>
<p>
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </ngb-alert>
</p>
<br>
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="Simple">
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
      non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
      aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
      beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
      craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable
      VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>&#9733;
        <b>Fancy</b> title &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
      non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
      aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
      beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
      craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable
      VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Disabled" [disabled]="true">
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
      non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
      aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
      beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
      craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable
      VHS.
    </ng-template>
  </ngb-panel>
</ngb-accordion>
<br>
<br>
<!-- material-ui -->
<mat-slider min="1" max="100" step="1" value="50"></mat-slider>
<br>
<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
</div>
<br>
<p>
  Button with a badge on the left
  <button mat-raised-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent">
    Action
  </button>
</p>
<!-- todo-list -->
<hr>
<input type="text" placeholder="Enter new task" #task>
<br>
<br>
<button (click)="addTask(task.value)">Add task</button>
<br>
<ul *ngFor="let item of todoList">
  <li>{{item.name}}
    <button (click)="removeTask(item.id)">Remove</button>
  </li>
</ul>
<!-- pass data from parent to child -->
<br>
<br>
<app-child [item1]="data"></app-child>
<button (click)="updateChild()">Update Child Component</button>
<br>
<br>
<!-- Reusable component -->
<ul *ngFor="let user of userDetails1">
  <app-user-details [item2]='user'></app-user-details>
</ul>
